@font-face {
  font-family: kremlin;
  src: url(/fonts/kremlin.ttf);
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #C2BDBD;
  color: white;
}

a {
  text-decoration: none;
  color: #DB0404;
}

a:hover {
  color: #623737;
}

header {
  border-top: solid 40px #DB0404;
  border-bottom: solid 1px #564E4E;
  width: 100%;
  height: 100%;
  background-color: white;
}

#logo-and-tagline {
  font-family: kremlin;
  margin-right: 35%;
  margin-left: 20px;
  text-align: left;
}

#logo {
}


#tagline {
  color: #252323;
}

nav {
  float: right;
  width: 35%;
  margin-top: 35px;
  margin-right: 20px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  text-align: right;
}


/*USER SHOW PAGE*/

/*PROFILE*/

.user-profile-summary {
  background-color: #252323;
  max-width: 60%;
  margin: 20px auto;
  overflow: auto;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.profile-pic-large {
  width: 50%;
  float: left;
}

.user-profile-text {
  line-height: 1em;
  padding: 20px;
}

.user-show-page-name {
  font-size: 30px;
}

.user-show-page-aka {
  font-size: 20px;
}

.user-show-page-nickname {
  font-size: 30px;
}

/*TABLE*/

.user-show-page-stats {
  clear: both;
}

.user-show-page-stats table {
  border: 1px solid #C2BDBD;
  width: 60%;
  margin: 0px auto;
}

.user-show-page-stats table td {
  background-color: #252323;
  border: 1px solid #C2BDBD;
  margin: 0px auto;
}

/*GAME*/
.user-summary {
  clear: both;
  max-width: 500px;
  margin: 20px auto;
  background-color: #252323;
  overflow: auto;
}

.user-show-page-enrollments h1 {
  font-size: 20px;
}

.user-show-page-enrollments h2 {
  font-size: 16px;
}

.user-summary-left {
  width: 50%;
  float: left;
  padding: 3px;
}

.game-image-small {
  width: 100px;
}

.user-summary-right {
  border-left: 1px solid #C2BDBD;
  margin-left: 50%;
  padding: 3px;
}

.target-image-large {
  max-width: 230px;
  max-height: 200px;
}

/*NEW GAME*/
.new-game-form-container {

}


.new-game-form-container li {
  padding: 0.5em;
  display: block;
  list-style: none;
}

/*GAME SHOW PAGE*/

/*GAMES*/
.scheduled-games {
  margin: 20px auto;
}
.active-games {
  clear: both;
  margin: 20px auto;
}

.game_summary {
  width: 40%;
  height: 300px;
  margin: 20px 20px;
  background-color: #252323;
  overflow: auto;
  display: inline-block;
}

#game-location-map {
  display: inline-block;
  width: 200px;
  height: 200px;
}

.game-details-link {
  display: inline-block;
  float: right;
  width: 100%;
  margin: 0;
  padding: 0;
}

.game_summary h1 {
  font-size: 20px;
}

.game_summary h2 {
  font-size: 16px;
}
.game-image-large {
  display: inline-block;
}
.game-image-small {
  float: left;
  width: 50%;
}

.game-index-page-games {
  margin-left: 50%;
  padding: 3px;
  border-left: 1px solid #C2BDBD;
}

.game-action-button {
  margin-top: 30px;
  border: 2px solid #DB0404;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  height: 75px;
  font-size: 30px;
  background-color: white;
}

#start-game-button:hover {
  border: 2px solid #564E4E;
}

#game-show-page {
  margin-top: 30px;
}

form input{
  display: block;
  padding: 5px;
  font-size: 16px;
  border-radius: 10px;
  text-align: center;
  margin: 20px auto;
}

form input[type=checkbox] {
  width: 20px;
  height: 20px;
}