<div class='new-game-form-container'>
  <%= erb(:_errors, locals: { errors: @errors }) %>
  <form action="/games" method="post">
    <ul>
      <li><input type="text" name="new_game[name]" placeholder="Name"></li>
      <li><input type="text" name="new_game[tagline]" placeholder="Tagline"></li>
      <li><input type="text" name="new_game[description]" placeholder="Descriptions"></li>
      <li><input type="text" name="new_game[image_path]" placeholder="Image Path"></li>
      <li><input type="text" name="new_game[location]" placeholder="location"></li>
      <li><input type="text" name="new_game[state]" placeholder="State"></li>
      <li><input type="date" name="new_game[start_date]" placeholder="Start Date"></li>
      <li><input type="date" name="new_game[end_date]" placeholder="End Date"></li>
      <li><input type='submit' value='Create Game'></li>
    </ul>
  </form>
</div>
