<section id='game-rules'>
  <h2>WHAT IS ASSASSIN?</h2>

  <p>Assassin is a live action game in which players attempt to eliminate each other using mock weapons. What are those weapons? They vary from everything, nerf guns to marshmallows! Every assassin group is assigned a "target" on their start date. Once you acquire your target, enter the elimination on your account and your next target will be generated. Last person standing is the winner! Simply join or make a group and see how deadly your assassin skills can be, with friends!</p>

  <h2>HOW IT WORKS</h2>

  <ol>
    <li>Join or start a game</li>
    <li>When the game starts, check your personal homepage to acquire your first target</li>
    <li>Use one of your group's designated methods to 'kill' your target</li>
    <li>Once you kill a target, use the passcode they give you to enter them as 'terminated'</li>
    <li>You acquire your terminated target's assigned target</li>
    <li>Keep going until you are 'killed' yourself or win the game!</li>
  </ol>

  <h2>WEAPON IDEAS</h2>

  <ul>
    <li>Marshmellows</li>
    <li>Water Guns</li>
    <li>Nerf Guns</li>
    <li>Highlighters</li>
    <li>Rubber Band Guns</li>
    <li>Water Balloons</li>
  </ul>
</section>
