<section id='intro-buttons'>
  <h1 id='intro-assassin'>ASSASSIN</h1>
  <% if session[:user_id] %>
    <a href="/games" class='welcome-button'>ENTER</a>
  <% else %>
    <a href="/session/new" class='welcome-button'>Login</a>
    <a href="/users/new" class='welcome-button'>Register</a>
  <% end %>
</section>
