<form class="button" action='/games' method='get'>
  <input type='submit' value='Join a Game' name='join_game_button'>
</form>

<form class="button" action='/games/new' method='get'>
  <input type='submit' value='Create a New Game' name='see_all_games_button'>
</form>