<section id='intro-buttons'>
  <h1 id='intro-assassin'>ASSASSIN</h1>
  <% if session[:user_id] %>
    <a href="/games" class='welcome-button' id='enter'>ENTER</a>
  <% else %>
    <a href="/session/new" class='welcome-button' id='login'>LOGIN</a>
    <a href="/users/new" class='welcome-button' id='register'>REGISTER</a>
  <% end %>
</section>
