<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Assassin</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <a href="/games"><li>Games | </li></a>
        <a href="/how_it_works"><li>How it Works | </li></a>
        <% if session[:user_id] %>
          <a href="/users/<%= current_user.id %>"><li><%= current_user.nickname %> | </li></a>
          <a href="/logout"><li>Logout</li></a>
        <% else %>
          <a href="/session/new"><li>Login | </li></a>
          <a href="/users/new"><li>Register</li></a>
        <% end %>
      </ul>
    </nav>
    <section id='logo-and-tagline'>
      <h1 id='logo'><a href="/">ASSASSIN</a></h1>
      <h2 id='tagline'>KILL OR BE KILLED... WITH FRIENDS!</h2>
    </section>
  </header>
  <%= yield %>
</body>
</html>
